@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './fonts.css';
html,body{
    width: 100%;
    
    height: 100%;
    font-family: 'PTSans', sans-serif;
}
.img-icon{
    width: 26px;
    height: 22px;

.dread{
    font-family:  'Cicle-Regular', sans-serif !important;
    font-size: 18px !important;
    line-height: 27px !important;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF !important;
}


}
.wrapper{
    background:rgba(0, 94, 208, 1) !important;
    z-index: 1;
}
.navbar-nav li{
    padding-right: 40px;
}
.nav-link{
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 19px !important;    
    color: #FFFFFF !important;
    font-family: 'Cicle-Regular', sans-serif !important;
    }
   
.back{
    background-color:rgba(0, 94, 208, 1) !important;
    box-shadow: inset 10px -13px 30px rgba(51, 51, 51, 0.15);
    background-blend-mode: multiply;
    background-image: url(img/img-cover.png) no-repeat center center fixed !important;
    height: 720px;
   
    
}

#img-cover{
    position: absolute;
    width: 100%;
    height: 772px;
    left: 0px;
    top: 0px;
    z-index: 0;
}
.ter{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    
    color: #FFFFFF;
}
.main{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
  
}
p.term{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
    
}
.btn{
    background: #FF6100;
    border-radius: 0px 8px 8px 0px;
}
#boton{
    color: #FFFFFF;
}
.enter{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
  

    color: #FFFFFF;
}
    
.enter1{
        color:#FF6100 !important;
    }
.back2{
    background: #f5f5f5;

}
#img-mast{
padding-top: 56px;
}
.padding{
    padding-top: 92px;

}

.line{
    background: rgba(95, 95, 95, 0.8);
    
    border-radius: 10px;

    height: 186px;
    width: 1px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.boton1{
    background: #FF6100;
    border: 1px solid #FF6100;
    box-sizing: border-box;
    border-radius: 8px;
}
@media (max-width:1100px){
    #img_site{
        width: 80%;
    }
}
@media (max-width:1100px){
    #img_vhod{
        width: 90%;
        }
}
.back3{
    background: #f5f5f5;

}
.block4{
    background: #FFFFFF;
    box-shadow: -2px -1px 9px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}
.citata{
    padding-top: 64px;  
}

@media (max-width:750px){
    body{
        font-size: 13px;
    }
}
.back5{
    background-color: rgba(0, 94, 208, 1);
    z-index: 1;
}
#img-cover1{
    position: absolute;
    width: 100%;
    height: 414px;
    left: 0px;
    z-index: 0;
    
}
.u{

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    padding: 6px;
    display: flex;
    color: #FFF !important;
    opacity: 0.6;
}

.u1{

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
  
    
    color: #ffffff !important;
    opacity: 0.9;
}
.colom1{
    height: 27px;
    padding-right: 200px;
}
.colom2{
    height: 27px;
    padding-right: 200px;
}
.colom3{
    height: 27px;
    padding-right: 200px;
}
.colom4{
    height: 20px;
    padding-right: 200px;
}
.back6{
    background: #FFFFFF;
    border-radius: 8px;
}
@media (max-width:750px){
    table{
        font-size: 50%;
    }
}
@media (max-width:1473){
    .menu{
        width: 50%;
    }
}
