@font-face{
    font-family: 'PTSans';
    src: url("./img/fonts/PTSans-Regular.ttf") format('truetype');
}
@font-face{
    font-family: 'Cicle-Regular';
    src: url("./img/fonts/Circe-Regular.ttf") format('truetype');
}