@import '../../node_modules/bootstrap/scss/bootstrap.scss';

div{
    display: block;
}
.img-cover{
    object-fit: cover;
    position: absolute;
    width: 1920px;
    height: 772px;
    left: 0px;
    top: 0px;
    z-index: 0;
    background:rgba(0, 94, 208, 1);
    box-shadow: inset 10px -13px 30px rgba(51, 51, 51, 0.15);

}

h1{
    position: absolute;
    width: 480px;
    height: 125px;
    left: 370px;
    top: 209px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;

    color: #FFFFFF;
}
p.term{
    position: absolute;
    width: 480px;
    height: 74px;
    left: 370px;
    top: 356px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
}
.icon{
    position: absolute;
    width: 142px;
    height: 23px;
    left: 408.5px;
    top: 32px;
    font-family: Circe;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.img-icon{
    position: absolute;
    left:370.5px;
    right:1524.5px;
    top: 32.5px;
    bottom:718.5px;
}
.boton{
    position: absolute;
    width:88px;
    height: 32px;
    left: 1462px;
    top: 28px;
    opacity: 0.4;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px;
}
.boton-letters{    
    left: 1490px;
    top: 34px;
    position: absolute;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
#link1{
    position: absolute;
    width: 41px;
    height: 18px;
    left: 1154px;
    top: 34px;
    text-decoration: none;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;    
}
#link2{
    position: absolute;
    width: 41px;
    height: 18px;
    left: 1235px;
    top: 34px;
    text-decoration: none;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    padding-right: 40px;
    color: #FFFFFF;
}
#link3{
    position: absolute;
    width: 61px;
    height: 18px;
    left: 1361px;
    top: 34px;
    text-decoration: none;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    }
.form-control{    
    position: absolute;
    width: 280px;
    height: 48px;
    left: 370px;
    right: 1370px;
    top: 475px;
    background: #FFFFFF;
    border-radius: 8px 0px 0px 8px;
}
.btn{
    position: absolute;
    width: 191px;
    height: 48px;
    left: 650px;
    top: 475px;
    background: #FF6100;
    border-radius: 0px 8px 8px 0px;
    }
.try{
    width: 151px;
    height: 20px;
    left: 670px;
    top: 487px;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    vertical-align: Center;
}
.enter{
    position: absolute;
    width: 193px;
    height: 20px;
    left: 370px;
    top: 543px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: white;
}
.enter1{
    position: absolute;
    width: 193px;
    height: 20px;
    left: 527px;
    top: 543px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FF6100;
    text-decoration: none;
}
a:hover{
   color: white
}
#table1 {
    position: absolute;
    width: 470.77px;
    height: 296.31px;
    left: 970px;
    top: 181px;
    z-index: 0;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: inset 10px -13px 30px rgba(51, 51, 51, 0.30);
}
.blue{
    font-family: Circe;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #005ED0;
}
.grey{
    font-family: Circe;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #333333;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.black{
    font-family: Circe;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #333333;
}
#table2{
    position: absolute;
    width: 470.77px;
    height: 296.31px;
    left: 1053px;
    top: 281.59px;
    z-index: 2;
    background: #FFFFFF;
    border-radius: 8px; 
    box-shadow: inset 10px -13px 30px rgba(51, 51, 51, 0.15); 
}
.img-table{
    position: absolute;
    width: 17.49px;
    height: 10.92px;
    left: 1140px;
    top: 205px;
    z-index: 1;
}
#img-string{
    position: absolute;
    width: 686px;
    height: 1.09px;
    left: 754px;
    top: 236.76px;
    right: 439.23;
    z-index: 1;
}
#img-string3{
    position: absolute;
    width: 686px;
    height: 1.09px;
    left: 754px;
    top: 417.18px;
    right: 439.23;
    z-index: 1;
}
#img-string4{
    position: absolute;
    width: 686px;
    height: 1.09px;
    left: 837px;
    top: 339.54px;
    z-index: 3;
}
#img-string7{
    position: absolute;
    width: 686px;
    height: 1.09px;
    left: 837px;
    top: 519.96px;
    z-index: 3;
}
.form-check{
    border-radius: 4px;
    z-index: 3;
    left: 10px;
    top: 1px;
}
#img-sqere{
    position: absolute;
    width: 121.24px;
    height: 101.69px;
    left: 1080px;
    top: 375px;
    z-index: 4;
}
#img-dots{
    position: absolute;
    left: 1095px;
    top: 421px;
    z-index: 5;
    width: 17.49;
    height: 4.37;

}
#change{
    position: absolute;
    width: 58.98px;
    height: 18.59px;
    left: 1120px;
    top: 389.84px;
    font-family: Circe;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    z-index: 6;
}
#double{
    position: absolute;
    width: 77.55px;
    height: 18.59px;
    left: 1120px;
    top: 420.46px;
     font-family: Circe;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    z-index: 6;
}
#delete{

    position: absolute;
    width: 48.06px;
    height: 18.59px;
    left: 1120px;
    top: 451.07px;   
    font-family: Circe;
    font-size: 12px;
    line-height: 17px;
    z-index: 6;
    color: #FF3030;
}