@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './fonts.css';

body{
    font-family: 'PTSans', sans-serif;
}
div{
    display: block;
}
.img-cover{
    object-fit: cover;
    position: absolute;
    width: 1920px;
    height: 772px;
    left: 0px;
    top: 0px;
    z-index: 0;
    background:rgba(0, 94, 208, 1);
    box-shadow: inset 10px -13px 30px rgba(51, 51, 51, 0.15);

}

a{
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
}
h1{
    position: absolute;
    width: 480px;
    height: 125px;
    left: 370px;
    top: 209px;

    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;

    color: #FFFFFF;
}
p.term{
    position: absolute;
    width: 480px;
    height: 74px;
    left: 370px;
    top: 356px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
}
.icon{
    position: absolute;
    width: 142px;
    height: 23px;
    left: 408.5px;
    top: 32px;
    font-family: 'Cicle-Regular', sans-serif;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.img-icon{
    position: absolute;
    left:370.5px;
    right:1524.5px;
    top: 32.5px;
    bottom:718.5px;
}
.boton{
    position: absolute;
    width:88px;
    height: 32px;
    left: 1462px;
    top: 28px;
    opacity: 0.4;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px;
}
.boton-letters{    
    left: 1490px;
    top: 34px;
    position: absolute;
 
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
#link1{
    position: absolute;
    width: 41px;
    height: 18px;
    left: 1154px;
    top: 34px;
    text-decoration: none;
  
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;    
}
#link2{
    position: absolute;
    width: 41px;
    height: 18px;
    left: 1235px;
    top: 34px;
    text-decoration: none;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    padding-right: 40px;
    color: #FFFFFF;
}
#link3{
    position: absolute;
    width: 61px;
    height: 18px;
    left: 1361px;
    top: 34px;
    text-decoration: none;
 
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    }
.form-control{    
    position: absolute;
    width: 280px;
    height: 48px;
    left: 370px;
    right: 1370px;
    top: 475px;
    background: #FFFFFF;
    border-radius: 8px 0px 0px 8px;
}
.btn{
    position: absolute;
    width: 191px;
    height: 48px;
    left: 650px;
    top: 475px;
    background: #FF6100;
    border-radius: 0px 8px 8px 0px;
    }
.try{
    position: absolute;
    width: 151px;
    height: 20px;
    left: 670px;
    top: 489px;
    z-index: 5;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.enter{
    position: absolute;
    width: 193px;
    height: 20px;
    left: 370px;
    top: 543px;
 
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: white;
}
.enter1{
    position: absolute;
    width: 193px;
    height: 20px;
    left: 527px;
    top: 543px;
 
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FF6100;
    text-decoration: none;
}
a:hover{
   color: white
}
#table1 {
    position: absolute;
    width: 470.77px;
    height: 296.31px;
    left: 970px;
    top: 181px;
    z-index: 0;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: inset 10px -13px 30px rgba(51, 51, 51, 0.30);
}
.blue{
    font-family: 'Cicle-Regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #005ED0;
}
.grey{
    font-family: 'Cicle-Regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #333333;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.black{
    font-family: 'Cicle-Regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #333333;
}
#table2{
    position: absolute;
    width: 470.77px;
    height: 296.31px;
    left: 1053px;
    top: 281.59px;
    z-index: 2;
    background: #FFFFFF;
    border-radius: 8px; 
    box-shadow: inset 10px -13px 30px rgba(51, 51, 51, 0.15); 
}
.img-table{
    position: absolute;
    width: 17.49px;
    height: 10.92px;
    left: 1140px;
    top: 205px;
    z-index: 1;
}
#img-string{
    position: absolute;
    width: 686px;
    height: 1.09px;
    left: 754px;
    top: 236.76px;
    right: 439.23;
    z-index: 1;
}
#img-string3{
    position: absolute;
    width: 686px;
    height: 1.09px;
    left: 754px;
    top: 417.18px;
    right: 439.23;
    z-index: 1;
}
#img-string4{
    position: absolute;
    width: 686px;
    height: 1.09px;
    left: 837px;
    top: 339.54px;
    z-index: 3;
}
#img-string7{
    position: absolute;
    width: 686px;
    height: 1.09px;
    left: 837px;
    top: 519.96px;
    z-index: 3;
}
.form-check{
    border-radius: 4px;
    z-index: 3;
    left: 10px;
    top: 1px;
}
#img-sqere{
    position: absolute;
    width: 121.24px;
    height: 101.69px;
    left: 1080px;
    top: 375px;
    z-index: 4;
}
#img-dots{
    position: absolute;
    left: 1095px;
    top: 421px;
    z-index: 5;
    width: 17.49;
    height: 4.37;

}
#change{
    position: absolute;
    width: 58.98px;
    height: 18.59px;
    left: 1120px;
    top: 389.84px;
    font-family: 'Cicle-Regular', sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    z-index: 6;
}
#double{
    position: absolute;
    width: 77.55px;
    height: 18.59px;
    left: 1120px;
    top: 420.46px;
     font-family: 'Cicle-Regular', sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    z-index: 6;
}
#delete{

    position: absolute;
    width: 48.06px;
    height: 18.59px;
    left: 1120px;
    top: 451.07px;   
    font-family: 'Cicle-Regular', sans-serif;
    font-size: 12px;
    line-height: 17px;
    z-index: 6;
    color: #FF3030;
}
.block2{
    position: absolute;
    width: 1920px;
    height: 700px;
    left: 0px;
    top: 772px;

    background: #E3E7F2;
    opacity: 0.2;
}
#img-mast{
    position: absolute;
    height: 76.36363983154297px;
    width: 90.38461303710938px;
    left: 914.81px;
    top: 827.48px;
    border-radius: 0px;    
    z-index: 1;
}
h2{
    position: absolute;
    width: 980px;
    height: 62px;
    left: 660px;
    top: 938px;

    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
}
#best_choice{
    position: absolute;
    width: 380px;
    height: 24px;
    left: 770px;
    top: 1006px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #5F5F5F;
}
#img_thought{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 475px;
    top: 1121px; 
}
#img_tree{ 
    position: absolute;
    width: 70px;
    height: 70px;
    left: 775px;
    top: 1121px;  
}
#img_deal{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1075px;
    top: 1120px;
}
#img_award{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1375px;
    top: 1120px;
}
#img_line_vert{    
    position: absolute;
    width: 1px;
    height: 186px;
    left: 659px;
    top: 1121px;
}
#img_line_vert1{
    position: absolute;
    width: 1px;
    height: 186px;
    left: 959px;
    top: 1121px;
}
#img_line_vert2{
    position: absolute;
    width: 1px;
    height: 186px;
    left: 1259px;
    top: 1121px;
    
}
#desing{
    position: absolute;
    width: 280px;
    height: 24px;
    left: 430px;
    top: 1213px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #333333;
}
#stab{
    position: absolute;
    width: 280px;
    height: 24px;
    left: 730px;
    top: 1213px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
   
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #333333;
}
#rep{
    position: absolute;
    width: 280px;
    height: 24px;
    left: 1030px;
    top: 1212px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #333333;
    
}
#cost{
    position: absolute;
    width: 280px;
    height: 24px;
    left: 1330px;
    top: 1212px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    display: flex;
    align-items: center;
    text-align: center;
    
    color: #333333;
}
#desing1{
    position: absolute;
    width: 280px;
    height: 20px;
    left: 430px;
    top: 1247px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #5F5F5F;
}
#stab1{
    position: absolute;
    width: 280px;
    height: 20px;
    left: 730px;
    top: 1247px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #5F5F5F;
    
}
#rep1{
    position: absolute;
width: 280px;
height: 20px;
left: 1030px;
top: 1246px;


font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #5F5F5F;
}
#cost1{
    position: absolute;
    width: 279px;
    height: 20px;
    left: 1330px;
    top: 1246px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #5F5F5F;
}
#img_blog{
    position: absolute;
    width: 42px;
    height: 42px;
    left: 389px;
    top: 1607px;
}
h3{
    position: absolute;
width: 480px;
height: 52px;
left: 370px;
top: 1698px;


font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 62px;

color: #333333;
}
.many{
    position: absolute;
width: 480px;
height: 196px;
left: 370px;
top: 1788px;


font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;

color: #333333;

opacity: 0.7;
}
#img_site{
    position: absolute;
    width: 633px;
    height: 357px;
    left: 970px;
    top: 1565px;
    border-radius: 8px;
}
#img_site1{
    position: absolute;
    width: 335px;
    height: 324px;
    left: 1180px;
    top: 1775px;
    z-index: 3;
}
.btn1{
    position: absolute;
    width: 118px;
    height: 42px;
    left: 370px;
    top: 2014px;

    background: #FF6100;
    border: 1px solid #FF6100;
    box-sizing: border-box;
    border-radius: 8px;
}
.try1{
    position: absolute;
    width: 83px;
    height: 20px;
    left: 389px;
    top: 2023.5px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    border-radius: 4px;
}
#img_auto{
    position: absolute;
    width: 301px;
    height: 406px;
    left: 370px;
    top: 2313px;
    border-radius: 8px;
}
#img_lock{
    position: absolute;
    height: 42px;
    width: 42px;
    left: 1068px;
    top: 2365px;
    border-radius: 0px;
}
h4{
    position: absolute;
    width: 580px;
    height: 52px;
    left: 1047px;
    top: 2452px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    
    color: #333333;    
}
#we{
    position: absolute;
    width: 580px;
    height: 84px;
    left: 1047px;
    top: 2544px;


    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;

    color: #333333;

    opacity: 0.7;
}
.btn2{
    position: absolute;
    width: 118px;
    height: 42px;
    left: 1047px;
    top: 2658px;

    background: #FF6100;
    border: 1px solid #FF6100;
    box-sizing: border-box;
    border-radius: 8px;
}
.try2{
    position: absolute;
    width: 83px;
    height: 20px;
    left: 1065px;
    top: 2667.5px;


    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    border-radius: 4px
}
#pass{
    position: absolute;
    width: 393px;
    height: 458px;
    left: 534px;
    top: 2292px;

    background: #FFFFFF;
    border-radius: 8px;
}
h5{
    position: absolute;
    width: 237px;
    height: 59px;
    left: 613px;
    top: 2348px;
    font-family: 'Cicle-Regular', sans-serif;
    font-size: 40px;
    line-height: 59px;
    color: #333333;

}
#mail{
    position: absolute;
    width: 60px;
    height: 15px;
    left: 566px;
    top: 2449px;

    font-family: 'Cicle-Regular', sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: #333333;

}
#password{
    position: absolute;
    width: 34px;
    height: 15px;
    left: 566px;
    top: 2521px;

    font-family: 'Cicle-Regular', sans-serif;
    font-size: 10px;
    line-height: 15px;
    color: #333333;
}
.btn3{
    position: absolute;
    width: 340px;
    height: 40px;
    left: 561px;
    top: 2603px;

    background: #005ED0;
    box-shadow: 0px 3px 6px rgba(0, 94, 208, 0.3);
    border-radius: 8px;
}
.try3{
    font-family: 'Cicle-Regular', sans-serif;
    position: absolute;
    width: 140px;
    height: 20px;
    left: 661px;
    top: 2613px;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


color: #FFFFFF;
}
#forgott{
    position: absolute;
    width: 100px;
    height: 20px;
    left: 682px;
    top: 2663px;
    z-index: 3;
    font-family: 'Cicle-Regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #005ED0;
}
.form1{
    position: absolute;
    width: 340px;
    height: 34px;
    left: 561px;
    top: 2470px;
    border-top: black;
    border-left: black;
    border-right: black;
    background: #FFFFFF;
}
.form2{
    position: absolute;
    width: 340px;
    height: 34px;
    left: 561px;
    top: 2540px;
    border-top: black;
    border-left: black;
    border-right: black;
    background: #FFFFFF;
}
.block3{
    background: #E5E5E5;
    width: 1920px;
    height: 1688px;
    position: absolute;
    left: 0px;
    top: 2800px;
}
#idea{
    position: absolute;
    width: 280px;
    height: 96px;
    left: 370px;
    top: 2933px;

   
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;

    color: #333333;
}
.buissnes{
    position: absolute;
    width: 280px;
    height: 194px;
    left: 370px;
    top: 3051px;

   
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    opacity: 0.7;
}
#img_prototyping{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 770px;
    top: 2933px;
}
#img_cpu{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1020px;
    top: 2933px;  
}

#img_hired{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1270px;
    top: 2933px; 
}
#img_computer{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 770px;
    top: 3141px;    
}
#img_shield{
    height: 70px;
    position: absolute;
    width: 58px;
    left: 1026px;
    top: 3141px;    
}
#img_conversation{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1270px;
    top: 3141px;
}
#img_paint-palette{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 770px;
    top: 3349px;
}
#img_binary-code{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1020px;
    top: 3349px;

}
#img_training{
    width: 70px;
    position: absolute;
    height: 70px;
    left: 1270px;
    top: 3349px;    
}
#prototyping{
    position: absolute;
    width: 180px;
    height: 24px;
    left: 770px;
    top: 3023px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #333333;
}
#cpu{
    position: absolute;
    width: 180px;
    height: 24px;
    left: 1020px;
    top: 3023px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #333333;
}
#hired{
    position: absolute;
    width: 180px;
    height: 24px;
    left: 1270px;
    top: 3023px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #333333;
    
}
#computer{
    position: absolute;
    width: 180px;
    height: 24px;
    left: 770px;
    top: 3231px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #333333;
}
#shield{
    position: absolute;
    width: 180px;
    height: 24px;
    left: 1020px;
    top: 3231px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #333333;
}
#conversation{
    position: absolute;
    width: 180px;
    height: 24px;
    left: 1270px;
    top: 3231px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #333333;
    
}
#paint-palette{
    position: absolute;
    width: 107px;
    height: 24px;
    left: 770px;
    top: 3439px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #333333;
    
}
#binary-code{
    position: absolute;
    width: 180px;
    height: 24px;
    left: 1020px;
    top: 3439px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #333333;
}
#training{
    position: absolute;
    width: 180px;
    height: 24px;
    left: 1270px;
    top: 3439px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #333333;
    
}
#prototyping1{
    position: absolute;
    width: 180px;
    height: 38px;
    left: 770px;
    top: 3053px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5F5F5F;
    
    opacity: 0.8;
}
#cpu1{
    position: absolute;
    width: 180px;
    height: 38px;
    left: 1020px;
    top: 3053px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5F5F5F;
    
    opacity: 0.8;
}
#hired1{
    position: absolute;
    width: 180px;
    height: 38px;
    left: 1270px;
    top: 3053px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5F5F5F;
    
    opacity: 0.8;
}
#computer1{
    position: absolute;
    width: 180px;
    height: 38px;
    left: 770px;
    top: 3261px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5F5F5F;
    
    opacity: 0.8;
}
#shield1{
    position: absolute;
    width: 180px;
    height: 38px;
    left: 1020px;
    top: 3261px;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5F5F5F;
    
    opacity: 0.8;
}
#conversation1{
    position: absolute;
    width: 180px;
    height: 38px;
    left: 1270px;
    top: 3261px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5F5F5F;
    
    opacity: 0.8;
}
#paint-palette1{
    position: absolute;
    width: 180px;
    height: 38px;
    left: 770px;
    top: 3469px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5F5F5F;
    
    opacity: 0.8;
}
#binary-code1{

    position: absolute;
    width: 180px;
    height: 38px;
    left: 1020px;
    top: 3469px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5F5F5F;
    
    opacity: 0.8;
}
#training1{
    position: absolute;
    width: 180px;
    height: 38px;
    left: 1270px;
    top: 3469px;
    
 
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #5F5F5F;
    
    opacity: 0.8;
}
#img_ellipse{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 935px;
    top: 3667px;
    z-index: 2;
}
#img_quote{
    height: 14px;
    position: absolute;
    width: 20.000137329101562px;
    left: 950px;
    top: 3686px;
    border-radius: 0px;
    z-index: 3;
}
#block4{
position: absolute;
width: 780px;
height: 378px;
left: 570px;
top: 3622px;

background: #FFFFFF;
box-shadow: -2px -1px 9px rgba(0, 0, 0, 0.07);
border-radius: 8px;
}
#best{
    position: absolute;
width: 520px;
height: 42px;
left: 700px;
top: 3752px;


font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* or 133% */

display: flex;
align-items: center;
text-align: center;

color: #5F5F5F;

mix-blend-mode: normal;
opacity: 0.8;
}
#img_gorDot{
    position: absolute;
    width: 40px;
    height: 8px;
    left: 938px;
    top: 3897px;
    z-index: 4;
}
#ivan{
    
    position: absolute;
    width: 120px;
    height: 20px;
    left: 930px;
    top: 3824px;


    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
}
#batiscaf{
    position: absolute;
    width: 120px;
    height: 20px;
    left: 940px;
    top: 3846px;


    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #005ED0;

    opacity: 0.7;
}
#img_line5{
    position: absolute;
    width: 1px;
    height: 600px;
    left: 1000px;
    top: 3630px;

    background: #C4C4C4;
    opacity: 0.2;
    transform: rotate(90deg);
}
#btskf{
    position: absolute;
    width: 120px;
    height: 20px;
    left: 930px;
    top: 3954px;


    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #005ED0;
}
#img_vector2{
    position: absolute;
    height: 76.36363983154297px;
    width: 90.38461303710938px;
    left: 914.81px;
    top: 4070px;
}
#right_now{
    position: absolute;
    width: 580px;
    height: 62px;
    left: 745px;
    top: 4168px;


    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
}
#free{
    position: absolute;
    width: 380px;
    height: 24px;
    left: 870px;
    top: 4236px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #5F5F5F; 
}
.btn4{
    position: absolute;
    width: 118px;
    height: 42px;
    left: 911px;
    top: 4296px;

    background: #FF6100;
    border: 1px solid #FF6100;
    box-sizing: border-box;
    border-radius: 8px;
}
.try4{
    position: absolute;
    width: 83px;
    height: 20px;
    left: 930px;
    top: 4305px;

    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    border-radius: 4px;
}
.img-cover1{
    object-fit: cover;
    position: absolute;
    width: 1920px;
    height: 414px;
    left: 0px;
    top: 4486px;
    background:rgba(0, 94, 208, 1);
    box-shadow: inset 10px -13px 30px rgba(51, 51, 51, 0.15);
}
.block6{
    display: block;
}

#help{
    position: absolute;
    width: 2000px;
    height: 414px;
    top: 4500px;
    z-index: 4; 
    left: 370px;;
    

}
.col{

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    width: 2000px;
    padding: 6px;
    display: flex;
    color: #FFF;
    opacity: 0.6;
}
.col1{

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    width: 2000px;
    display: flex;
    padding: 10px;

    color: #FFFFFF;
    opacity: 0.9;
}
.colom1{
    width: 280px;
    height: 20px;
}
.colom2{
    width: 280px;
    height: 20px;
}
.colom3{
    width: 280px;
    height: 20px;
}
.colom4{
    width: 280px;
    height: 20px;
}



#protect{
    position: absolute;
    width: 280px;
    height: 16px;
    left: 370px;
    top: 4869px;


    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
    z-index: 4;
    opacity: 0.8;
}
#pool{
    z-index: 4;
    position: absolute;
    width: 280px;
    height: 16px;
    left: 1270px;
    top: 4869px;


    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;

    opacity: 0.8;
}
#img_linlya{
    z-index: 5;
    position: absolute;
    width: 1180px;
    height: 2px;
    left: 370px;
    top: 4854px;
}
#img_up{
    height: 12.6px;
    position: absolute;
    width: 19.9px;
    left: 60px;
    top: 4840px;
    z-index: 5;
    opacity: 0.5;
}